<!--  Main content  -->

<div class="wrapper">

    <div class="hero">

        <div class="header">
            {{>header/title-block}}
            {{>header/nav-cart-block}}
        </div>

        <div class="cart">
            {{>main/cart-block}}
        </div>

    </div>

</div>

<!--  Modals  -->

{{>modals/login-block}} 
{{>modals/signup-block}} 
{{>modals/filters-block}} 
{{>modals/recipes-block}}