<!--  Main content  -->

<div class="wrapper">

    <div class="hero">

        <div class="header">
            {{>header/title-block}}
            {{>header/nav-block}}
        </div>

        <div class="main">
            {{>main/search-block}}
        </div>

    </div>

    <div id="results-area">
    </div>

</div>

<!--  Modals  -->

{{>modals/login-block}} 
{{>modals/signup-block}} 
{{>modals/filters-block}} 
{{>modals/recipes-block}}