<!--  Main content  -->

<div class="wrapper">

    <div class="hero">

        <div class="header">
            {{>header/title-block}}
            {{>header/nav-fav-block}}
        </div>

        <div class="profile">
            {{>user/user-block}}
        </div>

    </div>

    <div id="favorites-area">
        {{>main/favorites-block}}
    </div>

</div>

<!--  Modals  -->

{{>modals/login-block}} 
{{>modals/signup-block}} 
{{>modals/filters-block}} 
{{>modals/recipes-block}}