.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

.container > div {
    border: solid black 1px;
    background-color: #fafafa;
    padding: 10px 20px;
}
