{{#each favoritesData}}

<div class="result">
    <div class="favorite-image recipe-image" recipe-id="{{dataValues.recipe_id}}">
        <img src="{{dataValues.recipe_img}}" alt="">
    </div>
    <div class="favorite-name">
        <h4>{{dataValues.recipe_name}}</h4>
    </div>
    <div class="floating remove-favorite" recipe-id="{{dataValues.id}}">X</div>
</div>

{{/each}}